# GRPC
GRPC_HOST='localhost'
GRPC_PORT=50051

# Database
DATABASE_USER='your_user'
DATABASE_PASSWORD='your_password'
DATABASE_PORT=5433
DATABASE_NAME='your_database_name'
DATABASE_URI="postgresql://your_user:your_password@localhost:5433/your_database_name"

# Redis
REDIS_USER='your_user'
REDIS_PASSWORD='your_password'
REDIS_HOST='localhost'
REDIS_PORT=6379

# Passport
PASSPORT_SECRET_KEY='your_secret_key'
PASSPORT_ACCESS_TTL=900
PASSPORT_REFRESH_TTL=86400